<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body id='ng-app' ng-app="photo">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <img 
    		data-caman="brightness(brightness.value) contrast(contrast.value) sepia(sepia.value) saturation(saturation.value)"
    		src="cat.jpg">
    		
        <div ng-controller="PhotoCtrl">
        	<h3>Brightness
			<slider
    			ng-model="brightness"
    			floor="-100"
    			ceiling="100"
    			step="1"
    			precision="0"
    			stretch="1">
			</slider>
			</h3>
			<h3>Contrast
			<slider
    			ng-model="contrast"
    			floor="-100"
    			ceiling="100"
    			step="1"
    			precision="0"
    			stretch="1">
			</slider>
			</h3>
			<h3>Sepia
			<slider
    			ng-model="sepia"
    			floor="0"
    			ceiling="100"
    			step="1"
    			precision="0"
    			stretch="1">
			</slider>
			</h3>
			<h3>Saturation
			<slider
    			ng-model="saturation"
    			floor="-100"
    			ceiling="100"
    			step="1"
    			precision="0"
    			stretch="1">
			</slider>
			</h3>
        </div>
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/camanjs/4.0.0/caman.full.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
		<script src="angular-slider.js"></script>
		<script type="text/javascript">
	  		angular.module('photo', ['vr.directives.slider']).controller('PhotoCtrl', ['$scope', function($scope) {
		    	$scope.value = 0;
		    
		    }]);
		</script>
    </body>
</html>